In [1]:
import pandas as pd

In [2]:
spanish = pd.read_json("C:\\Users\\victo\\VSCode Folder\\Duolingo\\DuolingoSupport\\Data\\spanish.json")
french = pd.read_json("C:\\Users\\victo\\VSCode Folder\\Duolingo\\DuolingoSupport\\Data\\french.json")

# Rename the columns correctly
spanish.rename(columns={"Spanish": "Learning"}, inplace=True)
french.rename(columns={"French": "Learning"}, inplace=True)

print(spanish.head())
print(french.head())

    Learning Translation
0  recetario    cookbook
1      pulpo     octopus
2      hongo    mushroom
3  incomible    inedible
4    meterse      broken
    Learning                     Translation
0    dormons             sleep, are sleeping
1  longtemps    a long time, for a long time
2    dorment             sleep, are sleeping
3      gares  train stations, stations, park
4  aéroports                        airports

In [ ]:
def find_partial_duplicates(df1, df2, column='Translation'):
    """
    Compares two DataFrames for partial or exact matches within comma-separated phrases
    in the specified column and includes the Learning Language words for comparison.
    """
    matches = []

    for idx1, val1 in df1[column].dropna().items():
        phrases1 = [phrase.strip().lower() for phrase in val1.split(",") if phrase.strip()]
        # Fetch the learning language word safely
        learning_word1 = df1.loc[idx1, "Learning"] if "Learning" in df1.columns else ""

        for idx2, val2 in df2[column].dropna().items():
            phrases2 = [phrase.strip().lower() for phrase in val2.split(",") if phrase.strip()]
            learning_word2 = df2.loc[idx2, "Learning"] if "Learning" in df2.columns else ""

            for p1 in phrases1:
                for p2 in phrases2:
                    if p1 in p2 or p2 in p1:
                        matches.append({
                            'df1_learning_word': learning_word1,
                            'df1_full_translation': val1,
                            'df2_learning_word': learning_word2,
                            'df2_full_translation': val2
                        })

    return pd.DataFrame(matches)

duplicates_df = find_partial_duplicates(french, spanish, column="Translation")

In [ ]:
duplicates_df

,df1_learning_word,df1_full_translation,df2_learning_word,df2_full_translation
0,dormons,"sleep, are sleeping",pijamada,sleepover
1,dormons,"sleep, are sleeping",duerma,"sleep, sleeps"
2,dormons,"sleep, are sleeping",duerma,"sleep, sleeps"
3,dormons,"sleep, are sleeping",duerma,"sleep, sleeps"
4,dormons,"sleep, are sleeping",saco,"work, a sleeping bag, borrow"
...,...,...,...,...
119767,un,"a, an, one",un,"a, an, one"
119768,un,"a, an, one",un,"a, an, one"
119769,un,"a, an, one",mujer,"woman, wife, lady"
119770,un,"a, an, one",mujer,"woman, wife, lady"
119771,un,"a, an, one",mujer,"woman, wife, lady"